body{
	background: white; 
	
	background-repeat: no-repeat;
	background-position: top left;
}
.wrap{
	background: transparent;
	width: 75%;
	margin: auto;
}
 
.wrap .header{
	text-align: center;
	font-size: 1.5rem;
	color: black;
	background: transparent;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 300px, 300px;
	height: 100px;
	padding: 30px;
}

.wrap .Pencarian{
	background-color: black;
	float: right;	
	width: 25%;
	height: 50px;
	text-align: center;
	color: white;
}
.wrap .Pencarian .form{
	width: 25%;
    margin: auto;
}
.wrap .Pencarian .search{
	height: 30px;
	width: 15%
    background:white;
    border:0px solid #dbdbdb;
}
.wrap .Pencarian .button{
	position:relative;
	height: 30px;
	width: 15%
    left:-8px;
    border:2px solid #53bd84;
    background-color:#53bd84;
    color:#fafafa;
}
.wrap .menu{
	background-color: rgb(0, 0, 0, 0.5);
	float: left;	
	width: 75%;
	height: 50px;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	overflow: hidden;

} 
.wrap .menu ul li {
	float: left;
	list-style-type: none;
	padding: 20px;
}

.wrap .menu ul li a{
    color: white;
    text-decoration: none;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    letter-spacing: 0.225em;
}

.clear{
	clear: both;
}
 
.badan{
	height: auto;
}

.wrap .badan .sidebar{
	background: gray;
	float: right;	
	width: 25%;
	height: 100%;
}

.wrap .badan .sidebar ul li a{
	color: white;
    text-decoration: none;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    letter-spacing: 0.225em;
}
 
.wrap .badan .content{
	background: white;
	float: left;
	height: auto;
	width: 75%;
	font-size: 20px;
	text-align: justify-all;	
}

.wrap .footer{
	background: white; 
	height: auto;
	width: auto;
	padding: 1px;
	margin: auto;
	font size: 5px;
	text-align: center;
}